[2017-02-19 21:22] joanvila opened #1 "Support multiple redis instances"
Right now the implementation only supports a single instance. Not very useful for a distributed lock manager.

[2017-03-05 11:39] #1 closed

[2017-10-08 09:22] joanvila opened #5 "Optional lock timeout"
Right now, there is a default lock timeout of 10 seconds.

The user should be able to pass the desired timeout when using the lock interface:
https://github.com/joanvila/aioredlock/blob/master/aioredlock/algorithm.py#L38

[2017-10-11 23:06] joanvila opened #6 "Raise an exception if the lock cannot be obtained for any reason"
Right now, each time the client sets the lock it needs to check for `lock.valid`.
Instead of that, the behaviour should be to raise an exception if the lock was not obtained.

[2018-01-01 15:35] akhilman opened #8 "Update aioredlock to work with aioredis-1.0"
Provided example desn't work for me.
[code]

[2018-01-01 15:59] akhilman commented on #8
Ok, seems like aioredlock requires aioredis-0.3 but I have 1.0.

I would like to try to update aioredlock to work with aioredis-1.0.

[2018-01-03 02:39] akhilman opened #9 "Allow to set db=N and password to redis client"
aioredis.create_pool have  'db' and 'password' kwargs. I would like to use it.

I'll fix it.

[2018-01-03 02:43] akhilman opened #10 "Ensure futures and gather them to lock the instances"
TODO from source code

https://github.com/joanvila/aioredlock/blob/36207b35a881951227bf81cee8c2287752e14020/aioredlock/redis.py#L51

[2018-01-03 04:45] akhilman opened #11 "Integrating pytest to setuptools"
Make `python setup.py` test call pytest

[2018-01-03 20:21] akhilman opened #15 "Provide a way to extend an already acquired lock for more time"
Redis-py's lock has `Lock.extend(time)` method.

Depends from #5

[2018-01-04 06:37] akhilman opened #16 "Possible wrong behaviour in case partial lock"
Suppose we have two redis instances: `A` and `B`
We trigger `set_lock()` while `B` is offline.
Resource key becomes set in instance `A`, but lock still invalid because only one of two instances is locked.
Then lock manager triggers second try to acquire lock, now `B` is online.
`aioredlock.redis.Redis` once again iterates over instances and tries to set `resource` key if not set. But instance `A`

[2018-01-06 22:19] akhilman commented on #11
PR is merged.

[2018-01-06 22:19] #11 closed

[2018-01-07 10:58] joanvila commented on #8
Yes, I had this in my backlog but didn't have time. I've put a comment in the PR

[2018-01-07 11:00] #9 closed

[2018-01-07 11:02] joanvila commented on #9
Let's include this changes in the version 0.2.0. When you update the changelog for supporting redis 1.0 please include a line explaining what has been added here

[2018-01-07 11:06] joanvila commented on #10
Thanks for keeping track of this, I'll try to tackle it soon. If you want I'll be happy to receive a PR 🙂

[2018-01-07 11:08] joanvila commented on #15
My plan was to tackle all the small bits and pieces missing for the current features and then to take a look at this. Let's leave the issue to not loose track of it and share here any updates on it 🙂

[2018-01-07 11:15] joanvila commented on #16
Definitely a good catch. To address this, my proposal would be something like:
- Create an acceptance test that simulates this use case by shutting down one of the redis instance as you say to proof your hypothesis.
- See that the test fails because of the problem
- Implement the solution with your proposal covered with unit tests
- See that the acceptance test passes

I'll be more than happy to h

[2018-01-07 12:37] akhilman commented on #15
I need this feature for my own project which requires long living locks. So I'll implement it but after merging #7 and solving #5 and #16.

[2018-01-07 16:57] akhilman commented on #16
Ok this is my acceptance test try. In this test first instance still have resource key occupied by previous lock while second instance already clean but just before second attempt resource key on first instance becomes free which simulates delay in cluster synchronization. And yes it fails to acquire lock.
[code]

And here how `gedis-cli monitor` output looks on first instance:
[code]
And on secon

[2018-01-07 18:07] akhilman commented on #16
Take a look my test:
https://github.com/akhilman/aioredlock/blob/issue16/tests/acceptance/test_partial_lock.py

And here is output of `redis-cli monitor`
On first instance on port 6379:
[code]
On second one on port 6378:
[code]
Also I added debug prints to iteration over instances in Redis.set_lock() and here is output:
[code]

[2018-01-08 00:53] akhilman opened #17 "Add logging"
Lack of logging makes debugging hard, I have to put and remove print's.

Is it OK if i will add logging to this library?

[2018-01-08 06:53] akhilman opened #18 "Do autopep and isort"
I suggest to make code respect peps like line length limit and sort imported libraries.
Fortunetly it can be done just by calling two commands: `isort` and `autopep`.

Is there any reason to not do it?

[2018-01-08 09:16] akhilman commented on #16
Acceptance test moved to [tests/acceptance/test_aioredlock.py](https://github.com/akhilman/aioredlock/blob/47f42f22c12d2ba5253313e57826fac830df7356/tests/acceptance/test_aioredlock.py#L134)
All done and covered with tests. Waiting for #15 to make PR to avoid rebase.

[2018-01-08 09:34] akhilman commented on #15
Waiting for #16 and #13 to solve this issue.

Solution will be simple adding one more lua script and method like `lockmanager.extend(lock)` to update lock lifetime by `lock_timeout`.

[2018-01-08 09:41] akhilman opened #19 "Locking with context manager"
I would like to implement context manager interface for locks.

It should work like:
[code]

[2018-01-08 09:42] akhilman commented on #6
I can do.

[2018-01-08 13:30] akhilman commented on #6
But threading.Lock.acquire() also returns True and False. In some cases raising exception will make code less readable.
[code]
or
[code]
It is easy to do but is raising exceptions really better?

[2018-01-08 14:19] akhilman commented on #6
Waiting #16 and #15 to solve this one.

[2018-01-08 14:20] akhilman commented on #19
Waiting #15, #16 and #6 to solve this issue.

[2018-01-08 23:14] akhilman commented on #6
We can not raise exception in `Aioredlock.lock()` and return lock same time.
In my opinion raising exception instead of returning invalid lock will make code more complicated.

[2018-01-10 04:17] akhilman opened #23 "Track lock's lifetime in Lock instances"
We can pass lock's timeout to it's constructor and check is timeout reached in lock.valid attribute.

[2018-01-10 10:57] akhilman opened #25 "Support same address format as aioredis"
from https://aioredis.readthedocs.io/en/v1.0.0/api_reference.html#connection

In our case it will be list of these addresses.

[2018-01-10 13:23] akhilman commented on #17
Add logging errors for each instance. For now mistyping redis address gives no clue why lock is not acquired.

[2018-01-10 13:26] akhilman opened #26 "Use same redis instance with different db for CI tests"
We can use same redis instance with different db for CI tests.

[2018-01-10 20:36] joanvila commented on #17
Sure, go ahead adding it

[2018-01-10 20:37] joanvila commented on #18
I was using flake8 to ensure the code follows the peps. Do you think it's not enough?

[2018-01-10 20:39] joanvila commented on #23
My feeling is that this is really dangerous. In one hand it would be great but to track the timeout by having a timer I feel it can lead to problems since in can go out of sync with the real lock. Don't you think?

[2018-01-10 21:12] akhilman commented on #18
https://www.python.org/dev/peps/pep-0008/#maximum-line-length

Also isort does good job to keep imported libraries sorted and grouped

[2018-01-10 21:19] akhilman commented on #23
I thing setting timeout to `moment when Aioredlock.lock() was called + lock_timeout - drift` is ok.
Or I can implement `lock_manager.is_valid(lock)` to check is lock really valid.

[2018-01-10 21:42] akhilman commented on #8
PR is merged

[2018-01-11 00:02] akhilman commented on #8
One more problem. Coverage not 100% with this PR.

[2018-01-11 05:03] akhilman opened #30 "Update package versions in requirements-dev"
I would like to update packages versions in `requirements-dev`

[2018-01-29 06:08] #5 closed

[2018-01-29 06:16] #30 closed

[2018-01-29 06:27] akhilman opened #32 "Use same units for lock_timeout and retry_delay"
In my opinion using different units for lock_timeout and retry_delay can confuse users.
Should we make retry_delay be measured in milliseconds?

[2018-01-29 06:30] akhilman commented on #8
PR is merged.

[2018-01-29 06:30] #8 closed

[2018-02-02 06:15] akhilman commented on #17
Fixed in testing branch.

[2018-02-02 06:18] akhilman commented on #6
Fixed in testing branch.

[2018-02-02 06:19] akhilman commented on #10
Fixed in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-02 06:19] akhilman commented on #15
Fixed in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-02 06:19] akhilman commented on #16
Fixed in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-02 06:20] akhilman commented on #19
Fixed in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-02 06:20] akhilman commented on #23
May be fixed in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-02 06:20] akhilman commented on #25
Fixed in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-02 06:26] akhilman commented on #32
I would like to use seconds for all interval measurements.

[2018-02-02 06:33] akhilman opened #33 "Make a new release v0.2.0"
Please check [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

As soon as I will be happy with this branch I'll make PR to master. I hope this changes will be shipped as new pip's version.

[2018-02-03 15:44] akhilman commented on #33
I did everything I want to do. Please try new version from the [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-03 15:46] akhilman commented on #18
Done in [testing](https://github.com/joanvila/aioredlock/tree/testing) branch

[2018-02-03 15:47] akhilman commented on #26
Done in the [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-03 15:47] akhilman commented on #32
Done in the [testing](https://github.com/joanvila/aioredlock/tree/testing) branch.

[2018-02-09 11:00] akhilman opened #35 "Allow to pass loop to airedlock constructor."
Add an optional loop argument to the aioredlock constructor and pass this value to the aioredis pool constructor.

[2018-03-23 17:41] marcstreeter commented on #33
hey @akhilman @joanvila anything I can do to get this finalized?

[2018-03-23 23:32] #15 closed

[2018-03-23 23:32] #26 closed

[2018-03-23 23:32] #32 closed

[2018-03-24 04:05] akhilman commented on #25
Merged to master

[2018-03-24 04:05] #25 closed

[2018-03-24 04:06] akhilman commented on #33
Merged to master.
pip release https://pypi.python.org/pypi?:action=display&name=aioredlock&version=0.2.0

[2018-03-24 04:06] #33 closed

[2018-03-24 04:07] akhilman commented on #19
Merged to master.

[2018-03-24 04:07] #19 closed

[2018-03-24 04:07] akhilman commented on #18
Merged to master.

[2018-03-24 04:07] #18 closed

[2018-03-24 04:08] akhilman commented on #17
Merged to master.

[2018-03-24 04:08] #17 closed

[2018-03-24 04:08] akhilman commented on #16
Merged to master.

[2018-03-24 04:08] #16 closed

[2018-03-24 04:08] akhilman commented on #10
Merged to master.

[2018-03-24 04:08] #10 closed

[2018-03-24 04:09] akhilman commented on #6
Merged to master.

[2018-03-24 04:09] #6 closed

[2018-07-09 09:34] sprajosh opened #36 "A function to return number of active locks"
Would be a nice to have a feature to do that.

[2018-07-09 11:31] akhilman commented on #36
Could you describe some use cases for this feature?

[2018-07-10 05:44] sprajosh commented on #36
This can be used to exit a program when no keys are active.

[2018-07-10 23:20] akhilman commented on #36
For now aioredlock almost stateless and even doesn't know if lock is locked until is_locked() is called (see #23). This feature will add a lot of complexity.

For now I'm tracking, extending and finalizing locks in application side, but yes, this code can be moved to aioredlock.

@joanvila what do you think about tracking \ extending locks from aioredlock itself?

[2018-07-10 23:46] akhilman commented on #36
Possible implementation:
* Add dictionary to Aioredlock class to track all locks.
* On Aioredlock.lock() add new lock to this dictionary.
* Add internal lock function to Aioredlock class that will periodically:
    * Try to extend all valid locks.
    * Set lock invalid in case of extending fault.
* Remove lock from dictionary when Aioredlock.unlock() is called.

As I said I already have almost al

[2018-07-10 23:50] akhilman commented on #36
Questions:
* Should this feature be optional?
* If not should we remove extend() method from public interface?

[2018-08-28 22:26] marcstreeter opened #37 "weird question about aioredis"
@akhilman I posted a question on aioredis (https://github.com/aio-libs/aioredis/issues/443).
I realize that you're not the maintainer for it but I know that you use aioredis (v1 - which is the one I'm interested in) and so you might be able to give some input to the the migration from v0.3 to v1.0. I also noticed that within aioredlock (which I also use) this bit of code is hit https://github.com/

[2018-08-29 02:30] akhilman commented on #37
[Here is documentation](https://aioredis.readthedocs.io/en/v1.1.0/migration.html#blocking-operations-and-connection-sharing)

`create_pool` is coroutine, so should be awaited.
[source](https://github.com/aio-libs/aioredis/blob/ea948d0d7047db3315b4fbb9aa66e9ccc7e41522/aioredis/pool.py#L13)
It returns pool instance.

`await pool` gets single connection from pool and makes it exclusive for this corou

[2018-08-29 22:41] marcstreeter commented on #37
Many thanks @akhilman for the quick response.   You are awesome!

So I just noticed something, that for some reason hadn't stuck out to me: I'm using

[code]

and much of the interaction that I see in the documentation is as well as the aioredlock codebase now that I'm paying attention:

[code]

Much of the reason that I use a wrapper is to abstract away library specific interaction (and though co

[2018-09-04 15:17] owaaa opened #38 "Can't create new connections in pool after .destroy()"
We are running into an instance with AWS Elasticache where the IP changes sometimes under a DNS name then aioredis and by extension locks we are using here can never reconnect to that instance. The root issue I think is somewhere in either aioredis, or asyncio resolve and the DNS name on socket connections and determine connection health. However, I can't implement a workaround due to how aioredis

[2018-09-04 18:01] owaaa commented on #38
@akhilman I'm still trying to trace down the original issue for IP caching. Basically the redis pool is not recognizing that the IP changes and you get connection exceptions when the IP of the cluster changes (forever, no timeout and doesn't resolve). It appears that resolution in done in asyncio on socket creation which aioredis calls and they have some connection `ping` code but its unclear why

[2018-09-04 18:04] owaaa commented on #38
aioredis advertises automatic reconnect 1.0+ and I think everything is being done correctly here with that regard, its unclear why that doesn't work though.

[2018-09-04 22:26] marcstreeter commented on #38
I wonder if this has anything to do with a bit of code I stumbled upon in another question (quoted below):

[2018-09-05 02:32] akhilman commented on #38
@owaaa check my PR https://github.com/joanvila/aioredlock/pull/40, is it work for you?

[2018-09-05 14:38] akhilman commented on #38
Fixed in master.

[2018-09-05 14:38] #38 closed

[2018-09-11 13:01] alvassin opened #41 "Allow to reuse existing AioRedis pool"
Is it possible to use existing `Redis` object from aioredis package, but not creating new one?

Currently as i understand i can only pass servers list. But i already have redis in my application and would like to use existing object.

[2018-09-11 13:40] akhilman commented on #41
No, it is not possible. And in my opinion will add too much complexity with too small benefits.

[2018-09-11 13:43] alvassin commented on #41
How it would be possible to use your library with customized aioredis client?
Why it would add too much complexity? Please explain.

[2018-09-11 13:46] akhilman commented on #41
Actually customized aioredis client makes sense.
Complexity because of we will have to track is redis pool created not by aioredlock and not destroy it at exit.

[2018-09-11 13:49] akhilman commented on #41
Pull request is welcome.

[2019-01-07 12:17] #41 closed

[2019-01-18 08:10] myaspm opened #46 "What does this todo means?"
"Expire the lock valid attribute according to the lock validity in a safe way if possible."

I don't understand what this means? Does it mean that a lock is valid even if it's released or got into timeout?

[2019-01-18 10:52] akhilman commented on #46
For now aioredlock doesn't track locks on redis, as soon as the lock becomes valid it will be valid forever even when it will expire on server side.
For short living locks it is not a problem, for long living locks application should periodically extend all own lock lifetimes.

Periodically lock checking/extension could be implemented in aioredlock, but someone have to do it.

This is how it could

[2019-05-31 05:57] vartagg opened #47 "maxsize cannot be changed"
Now this parameter for pool is hardoced:

[code]

If I pass `maxsize` as kwargs, using
[code]

then the error is happening:
`TypeError: _create_redis_pool() got multiple values for keyword argument 'maxsize'`

[2019-05-31 22:30] #37 closed

[2019-09-18 03:15] MakDon opened #48 "Is it a typo?"
Is this a typo of ' or string Redis URI' ?

[2019-09-18 05:53] akhilman commented on #48
Thanks. Fixed in master.

[2019-09-18 05:53] #48 closed

[2020-01-02 09:21] eedalong opened #51 "Add watchdog feature for redlock"
I think it'll be better if watchdog feature is added to redlock so the redlock'life time can be extended automatically and also check the lock's validity automatically if the task thread is still alive. I'll fork the repo and add this feature.

[2020-01-02 09:23] akhilman commented on #51
Pull request with implementation is welcome.

[2020-01-02 10:02] eedalong commented on #35
@akhilman  u undo this feature ? i didnt find anywhere i can pass loop argument to aioredlock constructor?

[2020-01-03 08:44] eedalong commented on #51
@akhilman I've done that bro. Any suggestions are welcomed!

[2020-01-04 04:11] akhilman commented on #51
I made a review of your changes.

But I would like to suggest different approach:
* keep `Aioredlock` as is;
* introuduce new class like `AioredlockManager` in new module;
* collect all acquired locks in `AioredlockManager`;
* check all collected locks in loop with interval, extend valid locks and remove all invalid (unlocked) locks.

With this approach user will decide to use `AioredlockManager`

[2020-01-04 05:39] akhilman commented on #51
I'm implementing this future now.

[2020-01-04 07:37] akhilman commented on #51
Here is work in progress:
https://github.com/akhilman/aioredlock/blob/pr-autolock/aioredlock/autolock.py

[2020-01-04 09:03] eedalong commented on #51
Cool, I read Redisson source code just now because Redisson implemented watchdog for RedLock. And Redisson ONLY assign a watchdog to a lock when user doesnt set leasetime. Its lease_time is -1 by default. And if user dont set it manually, Redisson think the user want to use the lock as long as he needs until he unlock it . In case of user's failure, it choose to extend the lock's lifetime every lo

[2020-01-04 09:21] eedalong commented on #51
I think Redisson's way is a pretty good choice. Implement watchdog in AioRedlock, BUT ONLY assgin watchdogs to locks which dont set locked_timeout. In this way, the code will not be unpredictable

[2020-01-04 09:38] eedalong commented on #51
The idea of introducing lock_manager class is good, AioRedLock should just be a lock, but now it also plays lock_manager role

[2020-01-04 10:41] eedalong commented on #51
I think AioRedlock itself is already a lock manager now. Why do we need a new manager?

[2020-01-04 10:44] eedalong commented on #51
lock_time should be each lock's own attribute but now it's the manager's attribute
I think a better way to lock should be lock_manager.lock(resource, lock_timeout), if lock_timeout is -1, then we use internal_lock_timeout(10s by default)

[2020-01-04 10:57] akhilman commented on #51
Yes. Passing lock lifetime as optional argument to lock() will be nice.

[2020-01-04 11:03] akhilman commented on #51
On Sat, 2020-01-04 at 02:41 -0800, Dalong wrote:

The Aioredlock  do not track anything. It relies on the  state stored
in redis and acts like adapter to manipulate/get data from redis.
Also I prefer composition of the simple things over wiring up all
together.

[2020-01-04 11:10] eedalong commented on #51
I got u, but from my perspective, it acts like a lock_manager, and also in your examples and many places in test code, u call it lock_manager directly
![捕获](https://user-images.githubusercontent.com/39682259/71764676-da3dcc80-2f25-11ea-9f23-374f8c561afc.PNG)

[2020-01-08 01:54] akhilman commented on #23
With #54 Aioredlock now can automatically extend lock lifetime.

[2020-01-08 02:03] #51 closed

[2020-01-27 13:12] idomozes opened #59 "Unset lock if failing to set the lock"
According to the RedLock algorithm described in [Redis documentation ](https://redis.io/topics/distlock):

This requirement is not satisfied in the `set_lock` function, instead it just raises a LockError.

Desired behaviour: call `unset_lock` with the same identifier when we fail to `set_lock` and then raise a LockError

[2020-01-27 13:47] akhilman commented on #59
_set_lock releases lock on any exception: https://github.com/joanvila/aioredlock/blob/65a84bd25e90a6992b0af152a18d182ff90fa123/aioredlock/algorithm.py#L97

[2020-01-27 13:55] idomozes commented on #59
Thanks, didn't see that...

[2020-01-27 13:55] #59 closed

[2020-01-27 14:01] akhilman commented on #59
You are welcome.

[2020-01-27 14:10] akhilman opened #60 "Continuous integration is broken."
Hi @joanvila , CI is broken

[2020-02-24 15:44] deed02392 opened #61 "New release publish to pypi"
Latest version on `master` is not published on pypi.

[2020-02-24 21:59] deed02392 commented on #60
Can we add Python 3.7 to the CI config?

[2020-02-25 01:54] akhilman opened #64 "Lifetime auto extend #54 sometimes causes test to fail"
#54 sometimes causes test to fail. Reverting for now.
https://github.com/joanvila/aioredlock/pull/63/checks?check_run_id=466154021
[code]

_Originally posted by @akhilman in https://github.com/joanvila/aioredlock/pull/54#issuecomment-590635576_

[2020-02-25 01:59] akhilman commented on #64
Current state moved to branch https://github.com/joanvila/aioredlock/tree/feat/auto-extend

[2020-02-25 03:09] akhilman opened #67 "Call for code reviewers"
We need someone to review pull requests to get good quality.
Please leave a comment if you are user of aioredlock.

[2020-02-25 03:18] akhilman opened #68 "Test fails with python-3.8"
[code]

[2020-02-25 03:21] akhilman commented on #60
I managed to add Github Actions and got some errors #68 #65.
Unfortunately I'm not using this library anymore and wont fix it.

[2020-02-25 03:22] #60 closed

[2020-02-25 03:25] akhilman commented on #61
We have some problems in master #68 #65.
Unfortunately I'm not using this library anymore and wont fix it.

[2020-02-25 03:28] akhilman commented on #51
We have a problem #64

[2020-02-25 05:38] akhilman commented on #68
fixed by #69

[2020-02-25 05:38] #68 closed

[2020-02-25 05:41] #64 closed

[2020-02-25 05:45] akhilman commented on #61
Ok. All fixed. Caling @joanvila.

[2020-02-25 08:34] deed02392 commented on #61
@akhilman thank you! What alternative library are you using now, by the way?

[2020-02-25 08:54] akhilman commented on #61
@deed02392 I'm rebuilding my pet project in Rust.

[2020-02-25 09:52] deed02392 commented on #67
I am planning to use aioredlock in production. I just need to add a feature that enables me to use my own `AbcPool` derived connection instances

[2020-02-25 11:15] deed02392 opened #73 "Install the lock and unlock scripts and switch to EVALSHA"
Currently, the algorithm uploads the full lock and unlock Lua script for every execution. Instead, we should try to install the script to the server and execute it using EVALSHA (https://redis.io/commands/evalsha)

[2020-02-25 11:46] akhilman commented on #73
It was like that from the begining, but then #43 was merged. Feel free to revert these changes. I'll merge it if you do an additional check in case the server has lost scripts.

[2020-02-25 11:48] akhilman commented on #67
Nice. Feel free to make pull requests.

[2020-02-25 14:15] deed02392 commented on #67
Will do @akhilman

[2020-02-25 14:16] deed02392 commented on #73
Thanks for the tip, I will be adding some check and reinstall logic and make a PR

[2020-02-27 16:13] joanvila commented on #61
@akhilman do you have a pypi account? I'm willing to give you permissions to do so

[2020-02-27 21:55] akhilman commented on #61
No, I have no a pypi account. I'm also about to abandon this project.
I'm sorry.

On Thu, 2020-02-27 at 08:13 -0800, Joan Vilà Cuñat wrote:

[2020-03-29 12:39] symonsoft commented on #61
Requesting a new release =)

[2020-06-03 20:25] gtmanfred commented on #61
I would be willing to help maintain this library! I also need a new release.

Thanks,
Daniel

[2020-06-08 11:39] selivan opened #74 "Add support for connecting to redis using sentinels"
Connecting via redis sentinels is official way to get HA: https://redis.io/topics/sentinel
Client is programmed with a list of sentinels and it asks first available one, where is redis primary node now.

It would be great if aioredlock could do that. Now the only way to use it reliably with HA redis setup are ugly crutches with haproxy.

[2020-06-12 21:06] amatai commented on #61
`master` has exactly the feature we are looking for -- timeout per lock instead of global timeout setting. When can be expect 0.4.0 to be pushed to PyPi, will be very very helpful. Is there any I, as a user can do? Thanks in advance.

[2020-06-16 15:03] joanvila commented on #61
@gtmanfred I see you have experience with pypi. I've added you as a manager to the project. Feel free to publish new versions. I'm currently disconnected of the project.

[2020-06-16 15:03] gtmanfred commented on #61
sounds good, thanks!

[2020-06-16 15:05] gtmanfred commented on #61
Would you mind transferring the repository to me so that I can manage the pull requests and issues as well?

Thanks!
Daniel

[2020-06-16 15:06] gtmanfred commented on #61
Nevermind, i see the invitation to this repo, that works too!

[2020-06-16 15:43] gtmanfred commented on #61
@joanvila hrm, it looks like i do not have the ability to see the settings on the repository, so I cannot add a codecov secret for uploading test coverage reports.

https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#creating-encrypted-secrets-for-a-repository

Thanks,
Daniel

[2020-06-16 15:52] #61 closed

[2020-06-18 12:46] gtmanfred commented on #35
Is this still needed? because right now with asyncio, you can only have one loop per process, so the loop is always the same for `asyncio.get_event_loop()`

[2020-06-18 12:48] gtmanfred commented on #36
Currently the manager keeps track of all of the locks that have been made, we could add a function to check if all the locks are valid, and that would be able to return all currently valid locks which i think would solve this problem?

[2020-06-18 12:50] gtmanfred commented on #67
🎉

[2020-06-18 12:50] #67 closed

[2020-06-18 13:04] akhilman commented on #35
Can not actually remember why I need it.
Perhaps only to match with the `aioredis` API:
[code]
Closing for now.

[2020-06-18 13:04] #35 closed

[2020-07-07 16:02] gtmanfred commented on #47
As a work around, you can create your own redis pool, and pass that in as your redis_instances, and AioRedlock will use that instead of creating another pool.

https://aioredis.readthedocs.io/en/v1.3.0/api_reference.html#aioredis.create_redis_pool

I have also included fixing this in #75 as just a tangential thing, since I was already including minsize and maxsize in the handling of Sentinels.

[2020-07-07 16:57] gtmanfred commented on #23
It looks like the `is_valid` feature has been implemented, can this ticket be closed?

Thanks,
Daniel

[2020-07-07 17:14] akhilman commented on #23
May you also add `is_locked()` method to https://github.com/joanvila/aioredlock/blob/master/aioredlock/lock.py ?

[2020-07-07 18:04] #36 closed

[2020-07-07 18:04] #23 closed

[2020-07-07 18:04] #47 closed

[2020-07-07 18:04] #74 closed

[2020-07-07 18:59] #73 closed

[2020-07-07 19:16] gtmanfred opened #78 "Can I please have ownership privileges to this repository?"
@joanvila as you have said previously, you are not currently tracking this project anymore, and I would like to make some changes to the settings of the repository and the pypi.org package that I currently cannot make.

Thanks,
Daniel

[2020-07-07 19:16] gtmanfred commented on #78
Or would you prefer that I just move the work to my personal fork?

[2020-07-08 14:57] gtmanfred commented on #74
Here is an example script using the Sentinel to connect to redis masters.

https://github.com/joanvila/aioredlock/blob/master/examples/sentinel.py

[2020-07-11 11:15] selivan commented on #74
Thanks, I checked and it works: https://github.com/joanvila/aioredlock/pull/75#issuecomment-657046272

[2020-09-19 20:29] kvirt opened #81 "time.time -> time.monotonic"
Hello, i've noticed that you are using time.time() function to track timeouts for Lock/Unlock. According to docs it can return a lower value than a previous call and result in false positive timeout passing. For example when you change timezone or DST. i would suggest to use time.monotonic() which always returns non-decreasing values.

https://github.com/joanvila/aioredlock/pull/80

[2020-10-12 20:16] #81 closed

[2020-10-13 09:19] joanvila commented on #78
He @gtmanfred I'm trying to follow the docs here to give you admin permissions: https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/adding-outside-collaborators-to-repositories-in-your-organization

However, where there should be `Choose a Role` button, there is nothing and I can't set the level of permissions. Not sure what the problem is. Any id

[2020-10-13 12:06] gtmanfred commented on #78
I think I had to have accepted the role to join the organization before I could have a role assigned, can you check if that is there now?

Thanks,
Daniel

[2020-10-13 14:29] bolshoydi opened #82 "Can not release the lock on single instance after redis.setex on locked resource."
python == 3.7.6
aioredis==1.3.1
aioredlock==0.5.2

After acquiring `lock` and making `setex` on that resource I am unable to release lock. Neither from `unlock` method nor from context manger.

#### example code:
[code]
* from context manager
<img width="729" alt="Screenshot 2020-10-13 at 17 27 59" src="https://user-images.githubusercontent.com/7124306/95874457-95c74300-0d79-11eb-9c33-13e4fb6d4e96

[2020-10-13 15:23] gtmanfred commented on #82
Thanks for the report, I will look into this.

 I have updated your script so that it does not continue to add more log handlers each time you call `self.log`

Daniel

[2020-10-13 15:53] #82 closed

[2020-10-13 17:00] bolshoydi commented on #82
Thanks for response. I thought, that we acquiring `lock` for redis key, not for connection checking. so name of lock should be different from keys you are stroring in redis.
As for me, it is not so obvious and that fact doesn't pointed out in any docs.

* e.g.
[code]

[2020-10-13 17:42] gtmanfred commented on #82
ahh no, you don't need redlock for that.  you can just do setnx.

https://redis.io/commands/setnx

This will return a 1 or 0 whether it was set or not, if it was set, you get a 1 back, and you know you have a "lock" on that key.  You can also set an expire on that key after the fact.

https://redis.io/commands/expire

So that they key is not held onto forever.

The purpose for redlock is for stuff

[2020-10-14 07:12] joanvila commented on #78
Hey @gtmanfred I've been checking the docs and apparently, on repos owned by people and not organisations, there can only be 1 owner and collaborators: https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/access-permissions-on-github

That's the only level of permissions available. Which changes would you like to do that you are not able right now?

[2020-10-14 14:07] gtmanfred commented on #78
The main one I want to add is a pypi secret to the github secrets, so that the package can be published automatically when a tag is created.

If you setup a secret, and tell me the name of the secret, i can use it in the publish github workflow. https://github.com/pypa/gh-action-pypi-publish

[2020-10-14 17:48] joanvila commented on #78
If you send me the secret my mail I'll add it to the repo. I'm not interested on moving ownership. Right now I'm not actively working with python but I may do in the future and will proactively maintain the project again

[2020-10-23 11:01] ar4hc opened #83 "Feature Request: unlock only takes a lock, not a resource name."
i'd like to be able to `unlock()` using the resource, too. Now  only using the returned lock from `lock()` works.
I'd prefer a solution like `is_locked()` that  takes both kinds of argument.

Background:

i want to use locks in an REST API, so the caller of unlock() shouldn't (and can't) get the lock object from lock()

[2020-10-23 16:53] gtmanfred commented on #78
Can you add codecov.io from the github marketplace to this repository?

[2021-01-11 17:57] gtmanfred commented on #83
closed by #84

[2021-01-11 17:57] #83 closed

[2021-04-01 18:42] trankos opened #86 "If aioredis.create_redis_pool encoding parameter is set, aioredlock raise AttributeError ?"
### Error trace

### Probable cause
[code]
-  If enconding is set (utf-8), task redis.script_load() returns string type (decode method does not exist)
-  If encoding is not set, redis.script_load() returns bytes type ( decode method exists)

[2021-04-01 18:54] gtmanfred commented on #86
Thanks for reporting this. I will take a look.

[2021-04-05 14:55] centosredhat opened #87 "Operation Manual"
Can there be a more detailed operation manual, which is more friendly to novices (better to include some simple and complete examples)?

[2021-04-09 13:56] centosredhat opened #88 "Is my method of use wrong?"
[code]

![image](https://user-images.githubusercontent.com/28090903/114190889-67b86980-997e-11eb-9d2f-003acbe65523.png)

[2021-04-11 13:27] gtmanfred commented on #88
Can you provide the entire stack trace in a code block instead of a picture please?
Thanks,
Daniel

[2021-04-11 13:49] gtmanfred commented on #88
The problem you are running into is you are using the same LockManager instance across multiple coroutines, which is not thread safe.  You should instantiate a lock for each get_lock() function.  This will create a different redis connection for each lock manager, and you won't be getting the wrong Future back.

[code]

[2021-04-11 13:49] #88 closed

[2021-04-11 14:39] centosredhat commented on #88
Thanks.

[2021-04-11 14:42] centosredhat commented on #88
Sorry I don't know much about thread safety. I myself want to lock and unlock to reuse a connection.

[2021-04-11 14:44] gtmanfred commented on #88
Yeah, unfortunately you can't do that with asyncio.  Because when the connection is awaited, it isn't completed, so it is waiting for data to be returned.  So it is in a state that none of the other coroutines can use it to request information from redis.  It will just be getting back the Future from a different coroutine on the loop, which is the error you were seeing.

Similarly, you can't share

[2021-04-11 14:46] gtmanfred commented on #88
Well, you can reuse the same connection, it just needs to have connection pooling implemented or something that allows the library to create multiple sessions on the same connection, which I don't believe aioredlock implements on the lock_manager. The lock_manager just has one connection, and is not thread safe.

[2021-04-11 14:56] centosredhat commented on #88
Thank you very much for your patience.

[2021-04-11 15:08] gtmanfred commented on #88
No problem If you want to reuse the connection, you can instantiate a connection pool from aioredis first, and then pass that in as your instance, and that will allow you to reuse the connection pool.

[code]

[2021-05-07 02:43] centosredhat opened #89 "aioredlock very fast error. Is this a bug?"
[code]

[code]

[2021-05-07 13:14] gtmanfred commented on #89
This is not a bug with aioredlock.  Looks like for redis is closing the connection, and aioredis is raising an exception.  Possibly because you are trying to open 10k connections at once.

[2021-05-07 13:14] #89 closed

[2021-05-07 13:41] gtmanfred commented on #86
Sorry it took so long, fixing this today.

[2021-05-07 13:42] #86 closed

[2021-05-07 13:44] gtmanfred commented on #86
This is fixed in v0.7.1, thank you for reporting the bug.

[2021-05-08 03:23] centosredhat commented on #89
2K connections at once will have the same problem. You can try.

[2021-05-08 11:17] gtmanfred commented on #89
Can you do 2000 commands with aioredis like this? The error is not coming from aioredlock. It is coming from your redis instance closing the connections.

[2021-05-10 03:18] centosredhat commented on #89
aioredis  with  2000 set command  not error .(set 'resource_name' uuid ex 10 nx)

[2021-05-11 08:54] centosredhat commented on #89
/usr/local/lib/python3.8/site-packages/aioredlock/algorithm.py
.....
async def destroy(self):
        self.log.debug('Destroying %s', repr(self))
        for resource, lock in self._locks.items():
            if lock.valid:
                try:
                    await self.unlock(lock)
                except Exception:
                    self.log.exception('Can not unlock "%s"', resource)

[2021-05-20 19:59] ChriZiegler opened #90 "More descriptive errors"
There are two separate places in aioredlock/redis.py where a LockError is raised with the exact same message - 'Can not get lock'. There is no information about the underlying cause of these errors - the preceding error gets swallowed.

Furthermore, it seems like a LockError can be caused by two very different situations: either the lock is already acquired by something (perfectly normal, not some

[2021-05-25 17:19] adrienverge commented on #90
I have the same problem and just came upon this issue. I agree being able to distinguish between *lock acquiring errors* and *runtime locking errors* is needed in certain cases.

I guess the best way to achieve this while being backward-compatible is to create 2 new classes that inherit `LockError` in [errors.py](https://github.com/joanvila/aioredlock/blob/3289253/aioredlock/errors.py):
[code]

[2021-06-04 13:33] #90 closed

[2021-07-16 09:38] long2ice opened #97 "How about support aioredis 2.0?"
See https://aioredis.readthedocs.io/en/latest/migration/

I see the source code and found that support any version of aioredis, but if support aioredis 2.0 maybe drop that.

What do you think about?

[2021-07-16 13:07] gtmanfred commented on #97
What do we gain by dropping v1.x support?

Currently we have code to support all versions, and the only real thing we use is GET and EVALSHA and upload script, so we don't really even use anything complicated in aioredis.

I am not a fan of preemptively removing support for older versions of libraries when they do not add significant time to development.  If we got to a point where we needed somet

[2021-07-16 15:17] long2ice commented on #97
OK, try compatibility support for aioredis 2.0 maybe better

[2021-08-12 11:42] JonasKs commented on #97
I can see that PR https://github.com/joanvila/aioredlock/pull/99 includes support for v2.0.0. Any status on this?

[2021-08-12 11:44] gtmanfred commented on #97
Just lack of time at the current moment. The last step before I start handling tests is to hammer out the connections for aioredis 2.0 with the goal of not forcing users to change their configurations.

[2021-08-12 11:58] JonasKs commented on #97
Thanks for the quick response! I understand.
We're currently in an upgrade process to `aioredis` v2, and this is the last step. Do you think it's right around the corner, or should we put it on hold for a while?

I can also see that `aioredis` now also provides a [`lock`](https://github.com/aio-libs/aioredis-py/blob/master/aioredis/lock.py), do you know how that works compared to RedLock?

[2021-08-12 12:10] gtmanfred commented on #97
Oh yeah, neat it does look like that lock does the same things.  I may just set the dependencies to <2 and deprecate aioredlock for newer aioredis versions, I will have to think about that.

[2021-08-12 12:16] JonasKs commented on #97
I see, thank you. :blush:

[2021-09-18 09:59] TalyGin opened #100 ""module 'aioredis' has no attribute 'errors'""
Hello team,

I tried to use this lock implementation, and got problem
`"module 'aioredis' has no attribute 'errors'"`

in the code
[code]
from file `aioredlock/redis.py`

Indeed, I don't see errors module in aioredis, what I missed?

Versions:
[code]

[2021-09-18 10:03] TalyGin commented on #100
Well, I see, PR 99 is not yet merged, when we might to expect to get it done?
Thanks

[2021-09-20 16:13] gtmanfred commented on #100
aioredis implements its own version of its lock, so I am not inclined to make aioredlock support both aioredis < 2.0 and >= 2.0. I will update the requirements to just pin aioredis to < 2.0

[2021-11-08 15:56] bravier commented on #97
Hi @gtmanfred,

It looks like the combo aioredis <2.0 + aioredlock doesn't work anymore on Python 3.10.
Is supporting aioredis 2.0 still in the pipe via PR #99 or do you recommend using aioredis 2.0 [Lock](https://aioredis.readthedocs.io/en/latest/api/high-level/#lock)?

Thank you!

[2021-11-08 15:59] gtmanfred commented on #97
If someone else proposes a PR for support, I would merge and release, but I am not planning on finishing #99.

[2021-11-08 16:04] bravier commented on #97
Got it, thanks for the quick answer.

[2021-11-08 16:13] JonasKs commented on #97
The lock built in aioredis that I mention above works for us.

[2021-11-08 16:15] bravier commented on #97
Thanks for the feedback @JonasKs :heart:

[2021-11-10 16:07] bravier commented on #97
I still have some question on this guys.

@gtmanfred:

I don't understand your point that aioredis 2.0 locks does the same things as aioredlock.
To me aioredlock does more by implementing the Redlock algorithm.
So deprecating aioredlock is not an option and the only way forward is to migrate to aioredis 2.0.
But maybe I missed something?

What are the road blocks for PR #99? What do you think is m

[2021-11-10 16:21] JonasKs commented on #97
Yeah, and now we swapped to the lock used in aioredis v2. Whether it's completely equal or not, I don't really know. All our tests pass and we haven't had any issues though.

Example on how it's implemented in an open source package by @sondrelg: https://github.com/sondrelg/asgi-idempotency-header/blob/main/idempotency_header_middleware/backends/aioredis.py#L64

[2021-11-10 17:23] bravier commented on #97
Aioredlock is not equal to Aioredis locks because it provides guarantees about the lock and better fault tolerance than single Redis instance solutions since there are multiple independent Redis running.

If an Aioredis lock is enough for you, then why did you chose Aioredlock in the first place? Aren't you afraid of loosing the robustness of Redlock algorithm? I assume you have only one running R

[2021-11-10 17:42] JonasKs commented on #97
Since `aioredis` didn't get shipped with any locking mechanism until 2.0 which is pretty new. Yes, we're only running one redis instance. I have at no point said aioredlock isn't better, equal or solves your problems. I've linked it as a suggestion, since it solves mine.

Quoting my self:

[2021-11-12 07:59] bravier commented on #97
Oh okay, I didn't knew that. It makes sense for your use case then.

Of course, I agree you didn't said that, my comment was in response to Daniel's comment:

I'm just trying to understand what is the best for someone willing to use the Redlock algorithm on Python 3.10+.

Your use case is different, but thanks for the feedback anyway :+1:

[2021-11-15 08:29] adrienverge commented on #97
Hello,

I'm also very interested in knowing if Aioredis 2.0 locks can be used in replacement of Aioredlock (for a 3-node Redis cluster). @gtmanfred how would you use them so the setup "does the same thing"? Thanks in advance!

[2021-11-15 14:20] gtmanfred commented on #97
When i said it does the same thing, i meant it implemented the same lock mechanism on the redis instance. I have not double checked that it does a check against multiple redis instances, that would need to be implemented. Unfortunately I do not have the time right now to finish up the pr for aioredlock at the current moment as I am working on moving in December, but I can pick up the work again in

[2022-02-05 19:51] vasili-ii opened #101 "Memory leaks"
Hello,
There is some memory leak in your code in algorithm.py: you don't remove item from _locks dictionary in def unlock.
So if we will use redlock_manager as a global object and will destroy it only on gracefull stop server the _locks dictionary will encrease more and more whithout cleaning it in unlock def as you do it with _watchdog dictionary.

[2022-02-07 00:54] gtmanfred commented on #101
please feel free to submit a pr.

[2022-02-08 15:07] #101 closed

[2022-02-08 15:11] gtmanfred commented on #101
I released this as part of v0.7.3

[2022-02-08 15:12] gtmanfred commented on #97
I updated the requires to <2.0.0 for now, I have not had time to finish the pr, if anyone wants to take a shot at finishing it, that would be great.

At some point i think it will be best to just drop <2.0.0 versions of aioredis, and do a major version bump and just maintain the 0. branch as a long term release, instead of supporting all aioredis versions.

[2022-02-11 18:19] scott-8 opened #103 "Destroy lock_manager without unlocking"
One feature that would be very helpful is the ability to destroy a lock manager without unlocking any locks (and allowing them to expire at their given timeout).

My current plan is to keep it simple and add an boolean attribute to `Lock` named something like `unlock_on_exit`, and check it before calling `self.redis.unset_lock`.

I'm willing to make a PR for this, and want to hear your thoughts be

[2022-04-14 03:47] anyfire12 opened #104 "How about support aioredis 2.0, because aioredis1.3 has problem: Connection <RedisConnection [db:0]> has pending commands, closing it."
aioredis1.3 has problem: Connection <RedisConnection [db:0]> has pending commands, closing it.

the official solved in 2.0, but ..... please support aioredis 2.0.....

[2022-04-14 12:30] gtmanfred commented on #103
yeah, that sounds like a great idea. especially if it does not change the default behavior.

[2022-04-14 12:30] gtmanfred commented on #100
Closed in favor of #97

[2022-04-14 12:30] #100 closed

[2022-04-14 12:31] gtmanfred commented on #104
#97

[2022-05-30 15:04] takentui opened #106 "Error when using redis without password with Pydantic.RedisDsn"
Hello, I use the standard pydantic string generation mechanism for connections (AnyUrl), everything works correctly until I try to debuild the object. Creation example:

[code]

I have a problem when destroy my lock manager:

[code]

[2022-09-24 12:02] anton-zelenskiy opened #107 "IndexError when trying to get or set lock"
Hello, sometimes I have an error when I trying to get or set lock. Looks like the error need to be handled

Traceback:
[code]